/* ---------------------------------------------------------
*  ./*.html 蝓ｺ譛ｬ險ｭ螳�
* ------------------------------------------------------------ */
#body {
	width: 950px;
	/**/
	margin: 0 auto;
	padding: 20px 15px 20px 23px;
	background-color: #E6E6FA;
	border-width: 1px 2px 1px 3px;
	/*border-style:solid;
	border-color:#4169e1;*/
}

a:link,
a:visited,
a:hover {
	color: #0000cd;
	text-decoration: none;
}

a:link.secret,
a:visited.secret,
a:hover.secret {
	color: #E6E6FA;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: square;
	color: #000080;
}

li {
	margin: 5px 0;
}

table {
	margin: 10px 0 0 20px
}

caption {
	color: #000080;
	font-size: 15px;
	margin: 10px 0 -8px 20px;
	text-align: left;
}

th,
tr,
td {
	padding: 3px;
	color: #000080;
	word-break: break-all;
}

p {
	color: #000080;
	font-size: 15px;
	margin: 15px 10px 0px 20px;
	word-break: break-all;
}

h1,
h2,
h3,
h4,
h5 {
	border-color: #0000ff;
	color: #0000cd;
}





/* ------------------------------------------------------------
* ./*.html 荳企Κ縺ｮ繧ｿ繧､繝医Ν(莨壽ｴ･螟ｧ蟄ｦ繝医Λ繧､繧｢繧ｹ繝ｭ繝ｳ驛ｨ)
* ------------------------------------------------------------ */
h1 {
	background-color: #0000ff;
	text-align: left;
	/*border-right:430px solid;
	border-left:30px solid;*/
	margin: 10px 10px 5px 0;
	padding: 0 10px;
	font-family: Arial, "Arial Bold", "�ｭ�ｳ 繧ｴ繧ｷ繝�け";
	color: white;
	line-height: 80px;
	opacity: 0.75;
}

/*font-family:font-family: Arial, "Arial Bold", "�ｭ�ｳ 繧ｴ繧ｷ繝�け";*/



/* ------------------------------------------------------------
* index.html 蟾ｦ驛ｨ縺ｮ闍ｱ隱槭�繝｡繝九Η繝ｼ
* ------------------------------------------------------------ */
h2 {
	width: 180px;
	border-style: solid;
	border-width: 1px 2px 1px 4px;
	font-size: 18px;
	margin: 0 8px 8px 0;
	padding: 4px 0 1px 10px;
	background-color: #ffffff;
}





/* ------------------------------------------------------------
* ./*.html 隕句�縺�
* ------------------------------------------------------------ */
h3 {
	width: 95%;
	font-weight: bold;
	font-family: sans-serif;
	margin: 0;
	padding: 2px 0 1px 10px;
	border-left: solid 20px;
	border-bottom: solid 1px;
	background-color: #FFFFFF;
}





/* ------------------------------------------------------------
* ./*.html 蟆剰ｦ句�縺�
* ------------------------------------------------------------ */
h4 {
	margin: 15px 0px 5px 15px;
	padding: 5px 0 1px 5px;
	font-size: 15px;
	border-bottom: 3px double;
	color: #000080;
}





/* ------------------------------------------------------------
* ./report/* 蟄ｦ蟷ｴ
* ------------------------------------------------------------ */
h5 {
	background-color: #ffffff;
	font-size: 14px;
	border: 1px solid;
	padding: 0 5px 0 5px;
}


pre {
	overflow: auto;
}




.nest {
	margin: 20px 0px 5px 20px;
}


pre {
	font-size: 14px;
	margin: 10px 0 0 20px;
	color: #000080;
}





/* ------------------------------------------------------------
* *.html 繝輔Ξ繝ｼ繝�縺ｮ繝ｬ繧､繧｢繧ｦ繝�
* ------------------------------------------------------------ */
iframe.head {
	height: 50px;
	width: 100%;
	overflow: hidden;
}

iframe.main {
	width: 100%;
	overflow-y: auto;
}

iframe.left {
	float: left;
	width: 223px;
	height: 830px;
	/**/
	overflow-y: auto;
}

iframe.right {
	float: left;
	margin: 0 -10px;
	width: 730px;
	/**/
	height: 1200px;
	overflow-y: auto;
}





/* ------------------------------------------------------------
* ./*.html 荳企Κ縺ｮ繝｡繝九Η繝ｼ
* ------------------------------------------------------------ */
#head_menu {
	width: 100%;
	/*900px*/
	font-size: 12px;
	border-bottom: solid 1px;
	line-height: 15px;
	/*2022霑ｽ蜉�*/
	/* border-left:solid 40px;*/
	padding: 3px 0 0 0;
	background-color: #ffffff;
	text-align: center;
	border-color: #0000ff;
	color: #4169e1;
	margin: 0px 0 10px -10px;
}





/* ------------------------------------------------------------
* index.html 蜀咏悄
* ------------------------------------------------------------ */
#logo {
	width: 938px;
	/**/
	margin: -10px 0 0 0;
	padding: 8px 7px 6px 0;
}

#logo img {
	border: 2px solid #0000ff;
}




/* ------------------------------------------------------------
* index.html 蟾ｦ驛ｨ闍ｱ隱槭�繝｡繝九Η繝ｼ 繝ｬ繧､繧｢繧ｦ繝�
* ------------------------------------------------------------ */
#side_menu {
	float: left;
	width: 203px;
	margin: 10px 20px 20px 0;
}

#side_menu h5 {
	margin: 10px 15px 5px -10px;
}

#side_menu.frame {
	margin: 0px 20px 20px 0;
}

#side_menu p {
	width: 170px;
	white-space: normal;
}





/* ------------------------------------------------------------
* index.html 譖ｴ譁ｰ螻･豁ｴ(縺顔衍繧峨○) 繝ｬ繧､繧｢繧ｦ繝�
* ------------------------------------------------------------ */
#contents {
	float: left;
	width: 690px;
	/**/
	margin: 10px -35px 10px 0;
	padding: 5px 15px 50px 10px;
	border-left: 1px solid #4169e1;
	border-right: 1px solid #4169e1;
}

#contents h5 {
	margin: 10px 30px 5px 23px;

}

/*  
#contents.frame{
	margin:-27px -35px 10px 0;
}
*/





/* ------------------------------------------------------------
* about.html 繝ｬ繧､繧｢繧ｦ繝�
* members.html 繝ｬ繧､繧｢繧ｦ繝�
* bbs.html 繝ｬ繧､繧｢繧ｦ繝�
* link.html 繝ｬ繧､繧｢繧ｦ繝�
* ------------------------------------------------------------ */
#main {
	width: 890px;
	/**/
	margin: 0 0 0 1px;
	padding: 5px 23px 50px 23px;
	border-color: #4169e1;
	border-left: solid 1px;
	border-right: solid 1px;
}

#main td {
	border-bottom: 1px solid #B0C4DE;
}

#main th {
	border-bottom: 1px solid #B0C4DE;
}





/* ------------------------------------------------------------
* ./photo/* 蜀咏悄縺ｮ譫�
* ------------------------------------------------------------ */
img.photo {
	width: 160px;
	padding: 5px 8px;
	margin: 8px 9px 3px 9px;
	border-top: 1px solid #4169e1;
	border-bottom: 1px solid #4169e1;
	border-left: 0;
	border-right: 0;
}


/* ------------------------------------------------------------
* ./photo/* 繧ｹ繝ｩ繧､繝峨ヰ繝ｼ縺ｮ險ｭ螳壹讓ｪ荳ｭ螟ｮ謠�∴
* ------------------------------------------------------------ */
.slider img {
	display: block;
	margin: 0 auto;
	text-align: center;
}



/* ------------------------------------------------------------
* ./photo/* 蜀咏悄縺ｮ繧ｳ繝｡繝ｳ繝�
* ------------------------------------------------------------ */
td.comment {
	padding: 0 5px 10px 15px;
	width: 160px;
	word-break: break-all;
	font-size: 14px;
}





/* ------------------------------------------------------------
* ./*.html 繝輔ャ繧ｿ(荳矩Κ縺ｮ繧ｳ繝斐�繝ｩ繧､繝�)
* ------------------------------------------------------------ */
#footer {
	clear: left;
	width: 870px;
	/**/
	padding: 0 10px;
	margin: 10px 0 -10px 0;
	text-align: right;
	border-bottom: solid 1px;
	border-right: solid 50px;
	border-color: #0000ff;
	background-color: #FFFFFF;
	color: #000080;
}

/* ------------------------------------------------------------
* ./*.繝溘ル繝医Λ繝壹�繧ｸCSS
* ------------------------------------------------------------ */
.kaisai {
	position: relative;
	background-color: #fff;
	background: repeating-linear-gradient(-45deg, #edf5f4, #edf5f4 10px, #f6faf9 0, #f6faf9 20px);
	padding: 1em;
	font-weight: bold;
	font-family: "sans-serif";
}

.kaisai font {
	opacity: 0.8;
}

.font_info {
	font-size: 30px;
	font-weight: bold;
	color: #1250ad;
	border-bottom: 3px double;
}

.info_i img {
	width: 500px;
	padding: 5px 8px;
	margin: 8px 9px 3px 9px;
}

